@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,600;1,600&display=swap');;

*{
    font-family: "Inter", sans-serif;
}

.dashboard-container {
    min-height: 100vh;
    background: #a3b7a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card {
    width: 360px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.avatar {
    width: 90px;
    height: 90px;
    background: #5A7863;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto 15px auto;
}

.name {
    color: #5A7863;
    margin-bottom: 6px;
}

.email {
    font-size: 14px;
    color: #555;
    word-break: break-word;
}

.loading-text {
    text-align: center;
    margin-top: 40px;
    color: #777;
}

.logout-btn{
    margin-top: 10px;
    padding: 10px 80px;
    background: #5A7863;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.logout-btn:hover {
    color: #ffffff;
    background: #718a79;
}